@using Abp.Web.Mvc.Extensions
@using TicoPay.Editions
@model TicoPay.Drawers.Dto.SearchDrawerInput
@{
    ViewBag.Title = "Mantenimiento de Cajas";
}
@section Scripts
{
    @Html.IncludeScript("~/Scripts/drawers.js")
}
<script src="@Url.Content("~/Scripts/tutorial/turorial.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ListPager.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#importFile').change(function () {
            $("#msgErrorAnyModal").html("");
            $("#IndexAlerts").html("");
            var data = new FormData();
            data.append("upload", this.files[0])

            $("#btnImport").prop("disabled", true);

            abp.ui.setBusy();
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/imports/ImportDrawers",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    if (data.Success == false) {

                        writeErrorButton("IndexAlerts", "!Error al importar Cajas!", "error", data.Error);

                    } else {
                        writeErrorSS("IndexAlerts", "!Cajas importadas con éxito!", "success");
                    }
                    $("#btnImport").prop("disabled", false);
                    abp.ui.clearBusy();
                    refreshList();
                    cleanImportFile();
                },
                error: function (e) {
                    $("#btnImport").prop("disabled", false);
                    abp.ui.clearBusy();
                    cleanImportFile();
                }
            });
        });
        function cleanImportFile() {
            var input = $("#importFile");
            input.replaceWith(input.val('').clone(true));
        }
    });

    function writeErrorSS(control, msg, type) {
        if (type === "success") {
            abp.notify.success(msg, "");
        } else if (type === "error") {
            msg = "Error al importar cajas."
            abp.notify.error(msg, "");
            var alert = '<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>' + msg + '</strong></div>';
            $("#" + control).html(alert);
        } else { abp.notify.warn(msg, ""); }
    }

    function writeErrorButton(control, msg, type, data) {
        if (type === "success") {
            abp.notify.success(msg, "");
        } else if (type === "error") {
            abp.notify.error(msg, "");
            var alert = '<div class="alert alert-danger alert-dismissible" role="alert"><strong>Error al importar Cajas.     </strong><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Ver Detalles</button ><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
            var mensaje = '<div><strong>' + data + '</strong></div>'
            $("#" + control).html(alert);
            $("#modal-body").html(mensaje);
        } else { abp.notify.warn(msg, ""); }
    }
    function refreshList() {
        $.ajax({
            url: "/Drawers/AjaxPage",
            type: "GET",
            cache: false,
            data: { name: $("#SrchNameFilter_hidden").val(), priceSince: $("#SrchPriceSinceFilter_hidden").val(), priceUntil: $("#SrchPriceUntilFilter_hidden").val(), taxId: $("#SrchTaxId_hidden").val(), recurrentId: $("#SrchRecurrentId_hidden").val(), page: $("#SrchPage_hidden").val() },
            success: function (data) {
                $("#anyListEntity").html(data);
            }, error: function (xhr, ajaxOptions, thrownError) {
                writeError("IndexAlerts", "¡Error al consultar los Servicios!", "error");
            }
        });
        return false;
    };
</script>
<style>
    input[type="file"] {
        display: none;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Mantenimiento de Cajas</h2>
    </div>
    <br />

    <div class="col-lg-4">
        <a id="contentCreateNew" class="btn btn-default btnCreateForm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Crear Caja<span id="nav_NewCajas"></span></a>
        @if (Model.Edition.Name != EditionManager.ProfesionalEditionName && Model.Edition.Name != EditionManager.PymeJrEditionName &&
          Model.Edition.Name != EditionManager.ProfesionalAnnualEditionName && Model.Edition.Name != EditionManager.PymeJrAnnualEditionName &&
          Model.Edition.Name != EditionManager.FreeEditionName)
        {
            <label for="importFile" class="btn btn-default">
                <i class="fa fa-file" aria-hidden="true"></i>&nbsp;Importar Cajas
            </label>
            <input id="importFile" type="file" />
        }
    </div>


</div>
<div id="IndexAlerts" style="text-align: center">
</div>
<br />
@{Html.RenderPartial("_searchPartial", Model);}
<br />
<div id="anyListEntity">
    @{Html.RenderPartial("_listPartial", Model);}
</div>
<div id="anyModalForm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="body" id="anyModalBody">
                </p>
            </div>
            <div class="msgErrorAnyModal">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="DeleteConfirmation_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="ItemToDelete_hidden" />

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmación de borrado de la Caja.</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea borrar la Caja?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-warning" id="btnModalOkDeleteConfirmation">Continuar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="myModalLabel">Detalle Error - Importación de Cajas</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>