@model TicoPay.ReportClients.Dto.ReportClientsInputDto
@{
    ViewBag.Title = "Reporte de Clientes";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Reporte de Clientes</h2>
    </div>
</div>
<br />
<div id="IndexAlerts" style="text-align: center">
</div>
@{Html.RenderPartial("_searchPartial", Model);}
<br/>
<div id="anyListEntity">
    @{Html.RenderPartial("_listPartial", Model);}
</div>


