@using Abp.Web.Mvc.Extensions
@model TicoPay.ReportsSettings.Dto.ReportSettingsListDto
@{
    ViewBag.Title = "Personalización de formatos";
}
@section Scripts
{
    @Html.IncludeScript("~/Scripts/reportSettings.js")
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Personalización de formatos</h2>
    </div>
</div>
<br />
<div id="IndexAlerts" style="text-align: center">
</div>
<br />
<div id="anyListEntity">
    @{Html.RenderPartial("_listPartial", Model);}
</div>
<div id="reportSettingsForm" class="modal fade">
    <div class="modal-dialog" style="width:700px">
        <div class="modal-content">
            <div class="modal-body">
                <p class="body" id="anyModalBody">
                </p>
            </div>
            <div class="msgErrorAnyModal">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
