<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsIndicadoresEconomicosSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="wsIndicadoresEconomicosSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://indicadoreseconomicos.bccr.fi.cr/indicadoreseconomicos/WebServices/wsIndicadoresEconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsIndicadoresEconomicosSoap"
                contract="WSIndicadores.wsIndicadoresEconomicosSoap" name="wsIndicadoresEconomicosSoap" />
        </client>
    </system.serviceModel>
</configuration>