<div class="footer" >
    <div class=" pull-right">
    TicoPay
</div>
    <div style="text-align:center">
        <strong>Copyright</strong> @(System.Configuration.ConfigurationManager.AppSettings["Copyright"].ToString()) &nbsp; @(System.Configuration.ConfigurationManager.AppSettings["Version"].ToString())
    </div>
</div>
