<div>
    <h2>Términos del Servicio - Ticopay, Facturación Electrónica</h2>

    <p>ESTE ES UN ACUERDO ENTRE USTED O LA ENTIDAD QUE USTED REPRESENTA (en adelante "Usted") Y HNG CARMENTA GLOBAL GROUP S.A: (en adelante "TicoPay").</p>

    <p><strong>Partes de este Acuerdo</strong></p>

    <p>Este Acuerdo consiste en los siguientes términos y condiciones (en adelante, las "Condiciones Generales") y los términos y condiciones, en su caso, específicos del uso de los Servicios individuales (en adelante, los "Términos Específicos del Servicio"). Los Términos y Condiciones Generales de Servicio se denominan colectivamente los "Términos". En caso de conflicto entre los Términos Generales y los Términos Específicos del Servicio, prevalecerán los Términos Específicos del Servicio.</p>

    <p><strong>Aceptación de los Términos</strong></p>

    <p>Usted debe ser mayor de edad para firmar un acuerdo vinculante y aceptar los Términos. Si no está de acuerdo con las Condiciones Generales, no use ninguno de nuestros Servicios. Si usted acepta los Términos Generales y no acepta los Términos Específicos del Servicio, no use el Servicio correspondiente. Puede aceptar los Términos marcando una casilla de verificación o haciendo clic en un botón que indique su aceptación de los términos o utilizando los Servicios.</p>

    <p><strong>Descripción del Servicio</strong></p>

    <p>Ticopay, proporciona un software para la generación de facturas electrónicas recurrentes o específicas, control de cuentas por pagar de las mismas, y Administración de los datos de sus Clientes y Servicios. Usted puede usar los Servicios para su uso personal y de negocios o para fines comerciales internos en la organización que usted representa. Puede conectarse a los Servicios mediante cualquier navegador de Internet compatible con los Servicios. Usted es responsable de obtener acceso a Internet y al equipo necesario para usar los Servicios. Puede crear y editar contenido con su cuenta de usuario y si decide hacerlo, puede publicar y compartir dicho contenido.</p>

    <p><strong>Suscripción al servicio Beta</strong></p>

    <p>Es posible que ofrezcamos ciertos Servicios como servicios beta cerrados o abiertos ("Servicio Beta" o "Servicios Beta") con fines de pruebas y evaluación. Usted acepta que tenemos la única autoridad y discreción para determinar el período de tiempo para la prueba y evaluación de los Servicios Beta. Seremos el único juez del éxito de tales pruebas y la decisión, si existe, de ofrecer los Servicios Beta como servicios comerciales. No tendrá ninguna obligación de adquirir una suscripción para utilizar cualquier Servicio pagado como resultado de su suscripción a cualquier Servicio Beta. Nos reservamos el derecho de suspender total o parcialmente, en cualquier momento y de vez en cuando, temporalmente o permanentemente, cualquiera de los Servicios Beta con o sin previo aviso. Usted acepta que Ticopay no será responsable ante usted o terceros por ningún daño relacionado, derivado o causado por la modificación, suspensión o interrupción de cualquiera de los Servicios Beta por cualquier motivo.</p>

    <p><strong>Modificación de los Términos de Servicio</strong></p>

    <p>Podemos modificar los Términos en caso de notificación a usted en cualquier momento a través de un anuncio de servicio o mediante el envío de correo electrónico a su dirección de correo electrónico principal. Si realizamos cambios significativos en los Términos que afectan a sus derechos, se le proporcionará con al menos 30 días de anticipación de los cambios por correo electrónico a su dirección de correo electrónico principal. Usted puede dar por terminado su uso de los Servicios proporcionando aviso Ticopay por correo electrónico dentro de los 30 días de ser notificado de la disponibilidad de los Términos modificados si los Términos se modifican de una manera que afecta sustancialmente sus derechos en relación con el uso de los Servicios. En el caso de tal terminación, usted tendrá derecho a un reembolso prorrateado de la parte no utilizada de los honorarios pagados por adelantado. Su uso continuo del Servicio después de la fecha efectiva de cualquier cambio a los Términos será considerado como su acuerdo con los Términos modificados.</p>

    <p><strong>Obligaciones de Registro del Usuario</strong></p>

    <p>Debe registrarse para obtener una cuenta de usuario proporcionando toda la información necesaria para acceder o utilizar los Servicios. Si representa a una organización y desea utilizar los Servicios para uso interno corporativo, le recomendamos que, junto con todos los demás usuarios de su organización, se suscriba a las cuentas de usuario proporcionando su información de contacto corporativa. En particular, le recomendamos que utilice su dirección de correo electrónico corporativa. Usted acepta: a) proporcionar información verdadera, exacta, actual y completa acerca de usted mismo según lo indique el proceso de registro; y b) mantener y actualizar rápidamente la información proporcionada durante la inscripción para mantenerla verdadera, exacta, actual y completa. Si usted proporciona cualquier información falsa, inexacta, obsoleta o incompleta, o si Ticopay tiene motivos razonables para sospechar que dicha información es falsa, inexacta, obsoleta o incompleta, Ticopay puede terminar su cuenta de usuario y rechazar el uso actual o futuro de cualquiera o todos los Servicios.</p>

    <p><strong>Cuentas de la organización y administradores</strong></p>

    <p>Al registrarse en una cuenta para su organización, puede especificar uno o más administradores. Los administradores tendrán derecho a configurar los servicios según sus necesidades y administrar a los usuarios finales en la cuenta de su organización. Si su cuenta de organización se crea y configura en su nombre por un tercero, es probable que dicho tercero haya asumido la función de administrador de su organización. Asegúrese de firmar un acuerdo adecuado con dicho tercero especificando las funciones y restricciones de dicha parte como administrador de la cuenta de su organización.</p>

    <p>Usted es responsable de: i) asegurar la confidencialidad de la contraseña de su cuenta de la organización, ii) nombrar individuos competentes como administradores para administrar su cuenta de la organización, y iii) asegurarse de que todas las actividades que ocurran en conexión con su cuenta de organización cumplan con este Acuerdo. Usted entiende que Ticopay no es responsable de la administración de cuentas y la administración interna de los Servicios para usted.</p>

    <p>Usted es responsable de tomar las medidas necesarias para garantizar que su organización no pierda el control de las cuentas de administrador. Puede especificar un proceso a seguir para recuperar el control en caso de pérdida de control de las cuentas de administrador enviando un correo electrónico a info@ticopays.com, siempre que el proceso sea aceptable para Ticopay. En ausencia de cualquier proceso de recuperación de cuenta de administrador especificado, Ticopay puede proporcionar el control de una cuenta de administrador a un individuo proporcionando una prueba satisfactoria para Ticopay que demuestre la autorización para actuar en nombre de la organización. Usted acepta no responsabilizar a Ticopay por las consecuencias de cualquier acción tomada por Ticopay de buena fe en este sentido.</p>

    <p><strong>Información personal y privacidad</strong></p>

    <p>La información personal que usted proporciona a Ticopay a través del Servicio se rige por la Política de Privacidad de Ticopay. Su elección para usar el Servicio indica su aceptación de los términos de la Política de Privacidad de Ticopay. Usted es responsable de mantener la confidencialidad de su nombre de usuario, contraseña y otra información confidencial. Usted es responsable de todas las actividades que ocurren en su cuenta de usuario y acepta informarnos inmediatamente de cualquier uso no autorizado de su cuenta de usuario por correo electrónico a soporte@ticopays.com. No somos responsables de ninguna pérdida o daño a usted o a terceros incurridos como resultado de cualquier acceso no autorizado y / o uso de su cuenta de usuario, o de otra manera.</p>

    <p><strong>Comunicaciones de Ticopay</strong></p>

    <p>El Servicio puede incluir ciertas comunicaciones de Ticopay, tales como anuncios de servicio, mensajes administrativos y boletines informativos. Usted entiende que estas comunicaciones serán consideradas parte del uso de los Servicios.</p>

    <p><strong>Quejas</strong></p>

    <p>Si recibimos una queja de cualquier persona en su contra con respecto a sus actividades como parte del uso de los Servicios, la reenviaremos a la dirección de correo electrónico principal de su cuenta de usuario. Usted debe responder al demandante directamente dentro de los 10 días de recibir la queja enviada por nosotros y copiar Ticopay en la comunicación. Si no responde al reclamante en un plazo de 10 días a partir de la fecha de envío de nuestro correo electrónico, podemos revelar su nombre e información de contacto al reclamante para permitir que el demandante tome acción legal contra usted. Usted entiende que su falta de respuesta a la denuncia enviada dentro del plazo de 10 días se interpretará como su consentimiento para la divulgación de su nombre e información de contacto por Ticopay al demandante.</p>

    <p><strong>Tarifas y pagos</strong></p>

    <p>Los Servicios están disponibles bajo planes de suscripción. Su suscripción se renovará automáticamente al final de cada período de suscripción, a menos que informe que no desea renovar la suscripción o quiere pasar a un plan gratuito. En el momento de la renovación automática, se le generara la factura y se enviará a su correo para que realice el pago. Si no desea renovar la suscripción, debe informarnos al menos siete días antes de la fecha de renovación. Si no se ha rebajado a un plan gratuito y si no nos ha informado que no desea renovar la suscripción, se presumirá que ha autorizado a Ticopay a cobrar la cuota de suscripción.  Usted tiene un plazo de 30 días desde la fecha de su registro para hacer el pago de su plan.</p>

    <p>De vez en cuando, podemos cambiar el precio de cualquier servicio o cargo por el uso de los servicios que están actualmente disponibles de forma gratuita. Cualquier aumento en los cargos no se aplicará hasta el vencimiento de su ciclo de facturación actual. No se le cobrará por usar ningún Servicio a menos que haya optado por un plan de suscripción pagada.</p>

    <p><strong>Soporte Técnico</strong></p>

    <p>El servicio de soporte que brinda Ticopay incluido en el pago de la mensualidad es de 2 horas mensual. Este servicio se prestará dentro del horario de atención, de lunes a viernes  entre las 8:00 a.m. y las 5:00 p.m. El precio de la hora de soporte adicional tiene un costo de $20, para adquirirla, debe comunicarse con nosotros a info@ticopays.com.</p>

    <p><strong>Restricciones de uso</strong></p>

    <p>Además de todos los demás términos y condiciones de este Contrato, usted no deberá: (i) transferir los Servicios o ponerlos a disposición de terceros; (ii) proporcionar cualquier servicio basado en los Servicios sin permiso previo por escrito; (iii) utilizar los enlaces de terceros a sitios sin acordar los términos y condiciones de su sitio web; (iv) publicar enlaces a sitios de terceros o usar su logotipo, nombre de la empresa, etc. sin su permiso previo por escrito; (v) publicar cualquier información personal o confidencial que pertenezca a cualquier persona o entidad sin obtener el consentimiento de dicha persona o entidad; (vi) utilizar los Servicios de cualquier manera que pueda dañar, deshabilitar, sobrecargar, perjudicar o dañar cualquier servidor, red, sistema informático, recurso de Ticopay; (vii) violar cualquier ley local, estatal, nacional o internacional aplicable; y (viii) crear una identidad falsa para engañar a cualquier persona en cuanto a la identidad o el origen de cualquier comunicación.</p>

    <p><strong>Spamming y actividades ilegales</strong></p>

    <p>Usted acepta ser el único responsable del contenido de sus transmisiones a través de los Servicios. Usted se compromete a no utilizar los Servicios para fines ilegales o para la transmisión de material que sea ilegal, difamatorio, hostigador, difamatorio, invasivo de la privacidad de otra persona, abusivo, amenazante, dañino, vulgar, pornográfico, obsceno u ofensivo, que promueva el racismo, contenga virus o código malicioso, o que infrinja o pueda infringir la propiedad intelectual u otros derechos de otro. Usted se compromete a no utilizar los Servicios para la transmisión de correo no deseado, "spam", "cartas en cadena", "phishing" o distribución masiva no solicitada de correo electrónico. Nos reservamos el derecho de terminar su acceso a los Servicios si hay motivos razonables para creer que usted ha utilizado los Servicios para cualquier actividad ilegal o no autorizada.</p>

    <p><strong>Política de cuentas de usuario inactivas</strong></p>

    <p>Nos reservamos el derecho de cancelar cuentas de usuario no pagadas que estén inactivas por un período continuo de 120 días. En el caso de dicha terminación, todos los datos asociados con dicha cuenta de usuario se eliminarán. Le proporcionaremos un aviso previo de tal terminación y opción para respaldar sus datos. La política de eliminación de datos puede implementarse con respecto a cualquiera o todos los Servicios. Cada Servicio se considerará un servicio independiente y separado para el propósito de calcular el período de inactividad. En otras palabras, la actividad en uno de los servicios no es suficiente para mantener activa su cuenta de usuario en otro servicio. En el caso de cuentas con más de un usuario, si al menos uno de los usuarios está activo, la cuenta no se considerará inactiva.</p>

    <p><strong>Propiedad de los datos</strong></p>

    <p>Respetamos su derecho a la propiedad de los contenidos creados o almacenados por usted. Es propietario del contenido creado o almacenado por usted. A menos que se lo autorice específicamente, su uso de los Servicios no concede a Ticopay la licencia para usar, reproducir, adaptar, modificar, publicar o distribuir el contenido creado por usted o almacenado en su cuenta de usuario para fines comerciales, comerciales o similares de Ticopay. Pero concede a Ticopay el permiso para acceder, copiar, distribuir, almacenar, transmitir, reformatear, publicar y publicar públicamente el contenido de su cuenta de usuario únicamente según sea necesario para el propósito de proporcionarle los Servicios.</p>

    <p><strong>Marca</strong></p>

    <p>Ticopay, logotipo de Ticopay, los nombres de los Servicios individuales y sus logos son marcas comerciales de HNG CARMENTA GLOBAL GROUP S.A. Usted se compromete a no mostrar o utilizar, de ninguna manera, las marcas registradas de Ticopay, sin el permiso previo de Ticopay.</p>

    <p><strong>Renuncia de garantías</strong></p>

    <p>Usted expresamente entiende y acepta que el uso de los servicios es por su único riesgo. Los servicios se ofrecen en un estado y disponibilidad. Ticopay renuncia expresamente a todas las garantías de cualquier tipo, ya sean expresas o implícitas, incluidas, pero no limitadas a, las garantías implícitas de comerciabilidad e idoneidad para un propósito particular. Ticopay no garantiza que los servicios sean ininterrumpidos, oportunos, seguros o libres de errores. El uso de cualquier material descargado u obtenido a través del uso de los servicios será a su propia discreción y riesgo y usted será solamente responsable por cualquier daño a su sistema informático, teléfono móvil, dispositivo inalámbrico o datos que resulten del uso de los servicios o la descarga de cualquier material. Ningún consejo o información, escrita u oral, obtenida por usted de Ticopay, sus empleados o representantes deberá crear cualquier garantía no expresamente establecida en los términos.</p>

    <p><strong>Limitación de responsabilidad</strong></p>

    <p>Usted acepta que Ticopay, en ningún caso, será responsable por ninguna pérdida o daño consecuencial, incidental, indirecto, especial, punitivo o de otro tipo o por pérdida de beneficios comerciales, interrupción de negocios, fallo de informática, pérdida de información comercial u otro pérdida que surja o cause por su uso o incapacidad de usar el servicio, incluso si Ticopay ha sido advertido de la posibilidad de tales daños. En ningún caso la responsabilidad total de Ticopay con respecto a cualquier servicio, ya sea directo o indirecto, excederá las tarifas pagadas por usted hacia dicho servicio.</p>

    <p><strong>Indemnización</strong></p>

    <p>Usted acepta indemnizar y eximir a Ticopay, a sus funcionarios, directores, empleados, proveedores y afiliados, de y contra cualquier pérdida, daño, multas y gastos (incluyendo los honorarios y costos de abogados) que surjan de o relacionados con cualquier reclamación que usted tenga utilizó los Servicios en violación de los derechos de otra parte, violando cualquier ley, violando cualquier disposición de los Términos, o cualquier otra reclamación relacionada con su uso de los Servicios, excepto cuando dicho uso esté autorizado por Ticopay.</p>

    <p><strong>Suspensión y terminación</strong></p>

    <p>Podemos suspender su cuenta de usuario o inhabilitar temporalmente el acceso total o parcial a cualquier servicio en caso de sospecha de actividad ilegal, períodos prolongados de inactividad, solicitudes de las autoridades u otras agencias gubernamentales o porque no ha hecho el pago de la suscripción en la plazo indicado en Tarifas y Pagos, y reportado el mismo por correo electrónico a info@ticopays.com. Las objeciones a la suspensión o desactivación de las cuentas de usuario deben hacerse a info@ticopays.com dentro de los treinta días siguientes a la notificación de la suspensión. Podemos terminar una cuenta de usuario suspendida o deshabilitada después de treinta días. También finalizaremos su cuenta de usuario en su solicitud.</p>

    <p>Además, nos reservamos el derecho de terminar su cuenta de usuario y denegar los Servicios bajo la creencia razonable de que usted ha violado los Términos y de terminar su acceso a cualquier Servicio Beta en caso de problemas técnicos inesperados o interrupción del Servicio Beta. Usted tiene el derecho de cancelar su cuenta de usuario si Ticopay incumple sus obligaciones bajo estos Términos y en tal caso, tendrá derecho a un reembolso prorrateado de cualquier pago pagado por adelantado. La cancelación de la cuenta de usuario incluirá la denegación de acceso a todos los Servicios, la eliminación de la información en su cuenta de usuario, como su dirección de correo electrónico y contraseña y la eliminación de todos los datos de su cuenta de usuario.</p>

    <h3>FIN DE LOS TÉRMINOS DE SERVICIO</h3>

    <p><strong>Si tiene alguna pregunta o preocupación con respecto a este Acuerdo, comuníquese con nosotros a info@ticopays.com.</strong></p>
</div>