.loader-hidden {
    visibility: hidden;
}
.loader-overlay {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.loader-screen {
    position: fixed;
    z-index: 1;
    margin: -75px 0 0 -75px;
    left: 50%;
    top: 50%;
    border: 16px solid #f3f3f3;
    border-bottom: 16px solid #2A3159; /* blue */
    border-top: 16px solid #36733C; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}