@model TicoPay.ConsultaRecibos.Dto.SearchConsultaRecibosInput
<div class="text-center">
    <h3>Datos del Cliente</h3>
    <h4><b>Nombre:&nbsp;</b>@Model.ClientInfo.Name</h4>
    <h4><b>Cédula:&nbsp;</b>@Model.ClientInfo.Identification</h4>
    <h4><b>Telefono:&nbsp;</b>@Model.ClientInfo.MobilNumber</h4>
    <h4><b>Correo:&nbsp;</b>@Model.ClientInfo.Email</h4>
</div>

