<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--Calidad Producción-->
    <!--<add name="Default"
    connectionString="Data Source=ogah6abg0k.database.windows.net;Initial Catalog=TicoPayBD_2018-03-31T23-45Z;Connection Timeout=56000;User ID=acueducto;Password=GyhNedcast2013;MultipleActiveResultSets=True"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
    <!--Calidad Desarrollo-->
    <add name="Default"
  connectionString="Data Source=xf0ncj6xo1.database.windows.net;Initial Catalog=TicoPay;Connection Timeout=56000;User ID=ServerTesting;Password=@@AsadacloudTesting2015;MultipleActiveResultSets=True"
  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <!--Calidad 2 -->
    <!--<add name="Default"
  connectionString="Data Source=xf0ncj6xo1.database.windows.net;Initial Catalog=TicoPayQA2;Connection Timeout=56000;User ID=ServerTesting;Password=@@AsadacloudTesting2015;MultipleActiveResultSets=True"
  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
    <!--Ambiente Desarrollador-->
    <!--<add name="Default"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TicoPayBD_2018-03-31T23-45Z;Integrated Security=True;MultipleActiveResultSets=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
  </connectionStrings>
  <appSettings>
    <add key="RegisterWebClientPrint" value="false" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <!--Calidad Produccion-->
    <!--<add key="DomainFormat" value="{0}.ticopaysqa.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>-->
    <!--Calidad Desarrollo-->
    <add key="DomainFormat" value="{0}.myticopaysqa.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <!--Calidad 2-->
    <!--<add key="DomainFormat" value="{0}.ticopaysqa2.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>-->
    <!--Ambiente Desarrollador-->
    <!--<add key="DomainFormat" value="{0}.myticopays.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>-->
    <add key="ClientId" value="api-stag" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="TokenEndpoint" value="https://idp.comprobanteselectronicos.go.cr/auth/realms/rut-stag/protocol/openid-connect/token" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="WebApiNewsEndPoint" value="https://api.comprobanteselectronicos.go.cr/recepcion-sandbox/v1/recepcion" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="requestUri" value="recepcion-sandbox/v1/recepcion" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="TribunetTimeOut" value="1" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="SetAttributes(mode)"/>
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Remove"/>
  </system.webServer>
</configuration>