<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!-- Produccion-->
    <add name="Default"
      connectionString="Data Source=ogah6abg0k.database.windows.net;Initial Catalog=TicoPayBD;Connection Timeout=56000;User ID=acueducto;Password=GyhNedcast2013;MultipleActiveResultSets=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <appSettings>
    <add key="RegisterWebClientPrint" value="true" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <!-- Produccion-->
    <add key="DomainFormat" value="{0}.ticopays.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <!--Produccion-->
    <add key="ClientId" value="api-prod" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="TokenEndpoint" value="https://idp.comprobanteselectronicos.go.cr/auth/realms/rut/protocol/openid-connect/token" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="WebApiNewsEndPoint" value="https://api.comprobanteselectronicos.go.cr/recepcion/v1/recepcion" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="requestUri" value="recepcion/v1/recepcion" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="TribunetTimeOut" value="2" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="SetAttributes(mode)"/>
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Remove"/>
    <rewrite xdt:Transform="InsertIfMissing(/configuration/system.webServer/staticContent)" >
      <rules>
        <clear/>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false"/>
          <conditions>
            <add input="{HTTPS}" pattern="off"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true"
                  redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>