.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(54, 115, 60);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(8, 83, 15);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    width: 60px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.btn-primary{
    background: rgb(54, 115, 60);
    background-color: rgb(54, 115, 60);
    border-color: rgb(54, 115, 60);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(8, 83, 15);
    border-color: rgb(8, 83, 15); /*set the color you want here*/
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.align-center-middle {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.align-end-middle {
    display: flex;
    align-items: flex-end;
    vertical-align: middle;
}

.align-middle {
  display: inline-block;
  vertical-align: middle;
}


@media(max-width: 768px) {
  .btn-responsive {
    padding:4px 7px;
    font-size:90%;
    line-height: 1.2;
  }
}


@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:100%;
    line-height: 1.4;
  }
}

.loader-screen {
  position: fixed;
  z-index: 1;
  margin: -75px 0 0 -75px;
  left: 50%;
  top: 50%;
  border: 16px solid #f3f3f3;
  border-bottom: 16px solid #2A3159; /* blue */
  border-top: 16px solid #36733C; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}